@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700;800&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
$color-light: #F6F4F4;
$color-dark: #1a1d1a;
$dark-sand: #897E8B;
$green: #26413c;
$cinnabar: #657eff;
$morning-blue: #8ab0ab;

$font-logo: 'Fraunces',
serif;
$font-header: 'Fraunces',
serif;
$font-text: 'Commissioner',
sans-serif;

$transition: all .3s;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
  }
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.posts {
  flex: 2 0 0;
  padding: 0 90px;
  border-right: 1px solid $dark-sand;
  border-left: 1px solid $dark-sand;
}

.sidebar {
  flex: 1 0 0;
  background: $color-light;
  padding: 40px;
}

/* Logo */
h1 {
  text-align: center;
}

.logo {
  font-family: $font-logo;
  font-weight: 600;
  text-decoration: underline;
  font-size: 90px;
}

.tagline {
  background: $color-dark;
  color: $color-light;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  border-radius: 5px;
  max-width: 1050px;
  margin: 40px auto;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: $transition;

  .active {
    font-weight: 500;
    color: $cinnabar;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: $color-dark;

    &:hover {
      color: $cinnabar;
    }
  }
}

.titles li {
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: 500;
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */
.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */
.post {
  display: none;

  &.active {
    display: block;
  }
}

.post-title {
  font-family: $font-header;
  font-size: 26px;
  margin-top: 60px;
}

.post-author {
  font-size: 11px;
  font-family: $font-header;
  font-weight: 400;

  a {
    color: $color-dark;
    text-decoration: underline;
    transition: $transition;

    &:hover {
      color: $cinnabar;
    }
  }
}

.post-img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 40px;
}

/* Tags */
.post-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px 0 55px;

  li {
    background: $cinnabar;
    padding: 0 10px 3px;
    border-radius: 5px;
    list-style: none;
    transition: $transition;
    line-height: 1;
    margin-right: 10px;

    .active {
      font-weight: 500;
      color: $color-dark;
      text-decoration: underline;
    }

    &:hover {
      background: $color-dark;
    }

    a {
      color: $color-light;
      text-decoration: none;
      font-weight: 400;
      font-size: 11px;
    }
  }
}


/* Tags Right sidebar */

.tags li {
  display: inline-block;
  margin: 2px 4px;

  .tag-size-5 {
    font-size: 150%;
  }

  .tag-size-4 {
    font-size: 130%;
  }

  .tag-size-3 {
    font-size: 110%;
  }

  .tag-size-2 {
    font-size: 100%;
  }

  .tag-size-1 {
    font-size: 80%;
  }
}